.box {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 2s;

  div {
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    backface-visibility: hidden;
  }

  .front {
    color: blue;
    background-color: white;
  }
  .back {
    color: red;
    background-color: white;
  }
  .left {
    color: green;
    background-color: white;
  }
  .right {
    color: purple;
    background-color: white;
  }

}

.rotate-front {
  transform: rotateY(0deg);
}

.rotate-right {
  transform: rotateY(-90deg);
}

.rotate-back {
  transform: rotateY(180deg);
}

.rotate-left {
  transform: rotateY(90deg);
}
