@import 'reset';
@import 'box';
@import 'navbar';
@import 'name';
@import 'contact';
@import 'projects';

:root {
  --serif: 'Lora', serif;
  --sans: 'Noto Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  min-width: 250px;
  font-family: var(--sans);
  position: fixed;
  z-index: -5;
}

.d-none {
  display: none;
}

.bg-shadow {
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  top: -25%;
  left: -40%;
  height: 150%;
  width: 100%;
  box-shadow: inset -30px 50px 25px 20px rgba(0, 0, 0, 0.5);
  background-color: transparent;

}

.bg {
  border-radius: 50%;
  position: fixed;
  z-index: -2;
  top: -25%;
  left: -40%;
  height: 150%;
  width: 100%;
  overflow: hidden;
  filter: contrast(180%) brightness(150%);
  background:
    radial-gradient(circle at 10% 150%, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('./../resources/grainy.svg');

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    animation: background 100s linear infinite;
  }
}


@keyframes background {
  0% {
    rotate: 0deg;
    opacity: 0.8;
  }

  100% {
    rotate: 360deg;
    opacity: 0.1;
  }
}
