/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bg {
    height: 100vw;
    width: 100vw;
  }

  .bg-shadow {
    height: 100vw;
    width: 100vw;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bg {
    height: 90vw;
    width: 90vw;
  }

  .bg-shadow {
    height: 90vw;
    width: 90vw;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bg {
    height: 95vw;
    width: 95vw;
  }

  .bg-shadow {
    height: 95vw;
    width: 95vw;
  }


  .projects {
    width: 100%;
    height: 50%;
    top: 110vw;
  }

  .move-eye {
    animation: top 3s forwards;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bg {
    height: 70vw;
    width: 70vw;
  }

  .bg-shadow {
    height: 70vw;
    width: 70vw;
  }

  .projects {
    width: 50%;
    height: 90%;
    top: 5%;
  }

  .move-eye {
    animation: left 3s forwards;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bg {
    height: 50vw;
    width:50vw;
  }

  .bg-shadow {
    height: 50vw;
    width: 50vw;
  }
}

@media all and (min-width: 2000px) {
  .bg {
    height: 40vw;
    width: 40vw;
  }

  .bg-shadow {
    height: 40vw;
    width: 40vw;
  }
}




@keyframes left {
  0% {
    left: 50%;
  }

  100% {
    left: 75%;
  }
}

@keyframes top {
  0% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}
