@media all and (min-width: 1280px) {
  .bg-shadow,
  .bg {
    width: 100%;
  }
 }


@media all and (min-width: 1024px) and (max-width: 1280px) {
  .bg-shadow,
  .bg {
    width: 110%;
  }
 }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .bg-shadow,
  .bg {
    width: 135%;
  }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
  .bg-shadow,
  .bg {
    width: 140%;
  }
 }

@media all and (max-width: 480px) {
  .bg-shadow,
  .bg {
    width: 150%;
  }
}
