/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bg {
    height: 100vw;
    width: 100vw;
  }

  .bg-shadow {
    height: 100vw;
    width: 100vw;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bg {
    height: 90vw;
    width: 90vw;
  }

  .bg-shadow {
    height: 90vw;
    width: 90vw;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bg {
    height: 95vw;
    width: 95vw;
  }

  .bg-shadow {
    height: 95vw;
    width: 95vw;
  }


  .projects {
    width: 100%;
    height: 50%;
    top: 100%;
  }

  .move-eye {
    animation: top 2s ease-in-out forwards;
  }

  .move-eye-back {
    animation: center-from-top 2s ease-in-out forwards;
  }

  .slide-in {
    animation: slide-in-half 2s ease-in forwards;
  }

  .slide-out {
    animation: slide-out-half 2s linear forwards;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bg {
    height: 65vw;
    width: 65vw;
  }

  .bg-shadow {
    height: 65vw;
    width: 65vw;
  }

  .projects {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    top: 100%;
  }

  .slide-in {
    animation: slide-in-full 1s ease-in forwards;
  }

  .slide-out {
    animation: slide-out-full 1s linear forwards;
  }

  .move-eye {
    animation: left 2s ease-in-out forwards;
  }

  .move-eye-back {
    animation: center-from-left 2s ease-in-out forwards;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bg {
    height: 50vw;
    width: 50vw;
  }

  .bg-shadow {
    height: 50vw;
    width: 50vw;
  }
}

@media all and (min-width: 2000px) {
  .bg {
    height: 40vw;
    width: 40vw;
  }

  .bg-shadow {
    height: 40vw;
    width: 40vw;
  }
}

@keyframes center-from-left {
  0% {
    left: 75%;
  }

  100% {
    left: 50%;
  }
}

@keyframes left {
  0% {
    left: 50%;
  }

  100% {
    left: 75%;
  }
}

@keyframes center-from-top {
  0% {
    top: 30%;
  }

  100% {
    top: 50%;
  }
}


@keyframes top {
  0% {
    top: 50%;
  }

  100% {
    top: 30%;
  }
}
