.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    text-align: right;
    letter-spacing: 5px;
    width: fit-content;
    margin: 2rem;
    font-weight: 100;

    &:hover {
      cursor: pointer;
    }
  }
}

.links-div {
  z-index: 0;
  position: absolute;
  height: 50vw;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  ul {
    list-style: none;
    padding: 0;
  }
}

textPath {
  a {
    text-decoration: none;
    font-family: var(--serif);
    font-size: 25rem;
    fill: black;
    pointer-events: none;

    &:hover {
      fill: silver;
    }
  }
}

#links-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.rotate-links {
  animation: links 60s linear infinite;
}

@keyframes links {
  0% {
  transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.strikethrough {
  position: relative;
}

.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 2px;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.strikethrough.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 2px;
  background-color: black;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.strikethrough.active {
  opacity: 0.2;
  transition: transform 1s ease-in-out;
}

.strikethrough:hover::after {
  transform: scaleX(1);
}
