.projects {
  position: absolute;
  padding: 2rem;
  overflow: scroll;
  box-sizing: border-box;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .project {
    margin: 2em 0
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .title {
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: var(--serif);
    margin-bottom: 0.5rem;
  }

  .date {
    font-family: var(--sans-serif);
    font-size: 1.5em;
    font-weight: 500;
  }

  .technologies {
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 300;
    font-family: var(--sans);
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 1em;
    margin: 0.5em 0;
    text-align: justify;
    font-weight: 100;
  }

  .project-links {
    display: flex;
    justify-content: space-between;
    // width: fit-content;
  }

  a {
    font-family: var(--sans-serif);
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    color: black;
  }
}


.single-link {
  width: fit-content;
}

.fade {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
