html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar h4 {
  text-align: right;
  font-size: 2rem;
  letter-spacing: 5px;
  width: fit-content;
  margin: 0;
  font-weight: 100;
}
.navbar h4:hover {
  cursor: pointer;
}

.links-div {
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(20%, -50%);
}
.links-div ul {
  list-style: none;
  padding: 0;
}
.links-div li {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 100;
}
.links-div li a {
  color: black;
  text-decoration: none;
}
.links-div li li:hover::after {
  color: black;
  content: "->";
}

.strikethrough {
  position: relative;
}

.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 2px;
  background-color: black;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.strikethrough.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 100%;
  height: 2px;
  background-color: black;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.strikethrough.active {
  opacity: 0.2;
  transition: transform 1s ease-in-out;
}

.strikethrough:hover::after {
  transform: scaleX(1);
}

.first-name {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}
.first-name span {
  font-size: 20rem;
  backface-visibility: hidden;
  font-family: var(--serif);
  font-weight: 100;
  transition: all 0.3s ease;
  color: white;
}
.first-name .o {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-40deg) rotateX(90deg);
  left: 10%;
  top: 20%;
}
.first-name .s {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-20deg) rotateX(90deg) translateZ(0rem);
  left: 30%;
  top: 5%;
}
.first-name .c {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg) rotateX(90deg) translateZ(0rem);
  left: 50%;
  top: 0%;
}
.first-name .a {
  position: absolute;
  transform: translate(-50%, -50%) rotate(20deg) rotateX(90deg) translateZ(0rem);
  left: 70%;
  top: 5%;
}
.first-name .r {
  position: absolute;
  left: 90%;
  top: 20%;
  transform: translate(-50%, -50%) rotate(40deg) rotateX(90deg);
}

.fn-animation {
  animation: 2s fn-intro forwards;
  transition: all 0.3s ease;
}

@keyframes fn-intro {
  0% {
    transform: translate(5%, 0%) rotateX(-35deg) rotateY(0deg) rotateZ(100deg);
  }
  100% {
    transform: translate(0%, 0%) rotateX(-40deg) rotateY(0deg) rotateZ(0deg);
  }
}
.surname {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: ln-animation 3s linear forwards;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}
.surname span {
  font-size: 15rem;
  backface-visibility: hidden;
  font-family: var(--serif);
  font-weight: 100;
  color: white;
  transition: all 0.3s ease;
}
.surname .w {
  position: absolute;
  transform: translate(-50%, -50%) rotateX(90deg) rotateY(-40deg) translateZ(0rem);
  left: 10%;
  top: 25%;
}
.surname .e {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-20deg) rotateX(90deg) translateZ(0rem);
  left: 27%;
  top: 7%;
}
.surname .l {
  position: absolute;
  transform: translate(-50%, -50%) rotate(-5deg) rotateX(90deg) translateZ(0rem);
  left: 42%;
  top: -5%;
}
.surname .t {
  position: absolute;
  transform: translate(-50%, -50%) rotate(5deg) rotateX(90deg) translateZ(0rem);
  left: 58%;
  top: -5%;
}
.surname .o {
  position: absolute;
  transform: translate(-50%, -50%) rotate(20deg) rotateX(90deg) translateZ(0rem);
  left: 77%;
  top: 7%;
}
.surname .n {
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg) rotateX(90deg) translateZ(0rem);
  left: 90%;
  top: 25%;
}

.ln-animation {
  animation: 2s ln-intro forwards;
  transition: all 0.3s ease;
}

@keyframes ln-intro {
  0% {
    transform: translate(5%, 0%) rotateX(-135deg) rotateY(0deg) rotateZ(100deg);
  }
  100% {
    transform: translate(0%, 0%) rotateX(-140deg) rotateY(0deg) rotateZ(0deg);
  }
}
.up-animation {
  animation: 5s up forwards;
  transition: all 0.3s ease-in;
}

@keyframes up {
  0% {
    transform: translate(0%, 0%) rotateX(-35deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotateX(0deg) rotateY(-45deg) rotateZ(45deg) rotate(45deg);
  }
}
.down-animation {
  animation: 5s down forwards;
  transition: all 0.3s ease-in;
}

@keyframes down {
  0% {
    transform: translate(0%, 0%) rotateX(-140deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotateX(0deg) rotateY(-130deg) rotateZ(45deg) rotate(45deg);
  }
}
.rotate-left-animation {
  animation: 3s firstRotate forwards;
  transition: all 0.3s ease;
}

@keyframes firstRotate {
  0% {
    transform: translate(0%, 0%) rotateX(-35deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotateX(-35deg) rotateY(0deg) rotateZ(360deg);
  }
}
.rotate-right-animation {
  animation: 3s lastRotate forwards;
  transition: all 0.3s ease;
}

@keyframes lastRotate {
  0% {
    transform: translate(0%, 0%) rotateX(-140deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotateX(-140deg) rotateY(0deg) rotateZ(-360deg);
  }
}
.contact-container {
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  width: 40vw;
}

.contact-form input {
  border: none;
  font-size: 2rem;
  color: black;
  border-bottom: 1px solid black;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.contact-form textarea {
  border: none;
  color: black;
  font-size: 2rem;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.projects {
  padding: 1rem;
  height: 100%;
  width: 50%;
  overflow: scroll;
  box-sizing: border-box;
  transform: translate(0%, 0%);
  scrollbar-width: none;
}
.projects::-webkit-scrollbar {
  display: none;
}
.projects .project {
  margin: 2rem 0;
}
.projects .title {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: var(--sans-serif);
  margin-bottom: 0.5rem;
}
.projects .date {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--serif);
}
.projects .technologies {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: var(--sans-serif);
}
.projects p {
  margin: 0.5rem 0;
  text-align: justify;
  font-weight: 100;
}
.projects .project-link {
  display: inline-block;
  margin-right: 3rem;
}
.projects a {
  font-family: var(--serif);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 100;
  color: black;
}

.fade {
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  --serif: "Lora", serif;
  --sans: "Noto Sans", sans-serif;
  font-family: "Lora", serif;
  font-family: "Noto Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  min-width: 250px;
  font-family: var(--sans);
  position: fixed;
}

.d-none {
  display: none;
}

.bg-shadow {
  border-radius: 50%;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  height: 50vw;
  width: 50vw;
  box-shadow: inset -70px 30px 30px 10px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.bg {
  border-radius: 50%;
  position: fixed;
  z-index: -2;
  top: 50%;
  left: 50%;
  height: 50vw;
  width: 50vw;
  overflow: hidden;
  filter: contrast(300%) brightness(100%);
  transform: translate(-50%, -50%);
  background-position: 0%;
  background-size: cover;
  background: radial-gradient(circle at 10% 150%, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("./../resources/grainy.svg");
  animation: move 4s linear infinite;
}

.elipse {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 50%;
  max-height: 35%;
  background-color: white;
  box-shadow: inset 0px 20px 20px 5px black;
  overflow: hidden;
  opacity: 0.3;
  width: 100%;
  animation-delay: 2s;
}
.elipse .eye {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  clip-path: circle(40% at 50% 50%);
}
.elipse .eye h1 {
  z-index: 1;
  position: absolute;
  font-family: serif;
  font-size: 1rem;
  letter-spacing: 5px;
}
.elipse .pupil {
  position: relative;
  background-color: white;
  border-radius: 50%;
}

.left {
  animation: left 3s forwards;
}

@keyframes left {
  0% {
    left: 50%;
  }
  100% {
    left: 75%;
  }
}
.open {
  animation: eye 1.5s ease-in forwards;
}

@keyframes eye {
  0% {
    height: 0%;
  }
  100% {
    height: 30%;
  }
}
.pupil-grow {
  animation: 0.5s pupil ease-in forwards;
}

@keyframes pupil {
  0% {
    height: 0%;
    width: 0%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
